<!DOCTYPE html>
<html lang="en" ng-app="sergi" ng-controller="MainCtrl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="styles/styleindex.css">

	<title>Sergi</title>

	<!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>


  <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>

</head>
<body >
  <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="row">
              <a href="/"><img src="http://i51.photobucket.com/albums/f364/esbenbsmith/mustache_zps3wnvrjnc.jpg" border="0" alt="sergilogo"/></a>

               <ul class="nav navbar-nav navbar-right" id="nav-links">
                <li><a href=""  id="signup">Sign Up</a></li>
                <li><a href="#"  id="login">Login</a></li>
              </ul>
            </div>
          </div>
  </nav>

  <div class="container">
    <div class="row">
        
    </div>
  </div>

  
</body>
</html>