<div ng-controller="SignupCtrl">
  <form novalidate class="simple-form">
    <div class="form-group">
    First Name: <input type="text" ng-model="user.firstname" /> <br />
    Last Name: <input type="text" ng-model="user.lastname" /> <br />
    Location: <input type="text" ng-model="user.location" /> <br />
    Language(s): <input type="text" ng-model="user.languages" /> <br />
    E-mail: <input type="email" ng-model="user.email" /><br />
    </div>
    <input type="submit" ng-click="update(user)" value="Save" />
  </form>
</div>

