<head>
    <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="styles/styleindex.css">
</head>
<div ng-controller="SignupCtrl">
  <form novalidate class="simple-form">
    <div class="form-group">
    <input class="form-control" placeholder="First Name" type="text" ng-model="user.firstname" /> <br />
    <input class="form-control" placeholder="Last Name" type="text" ng-model="user.lastname" /> <br />
    <input class="form-control" placeholder="Location" type="text" ng-model="user.location" /> <br />
    <input class="form-control" placeholder="Languages" type="text" ng-model="user.languages" /> <br />
    <input class="form-control" placeholder="Email" type="email" ng-model="user.email" /><br />
    <input class="form-control" placeholder="Password" type="password" ng-model="user.password" /><br />
    </div>
    <center><input class="btn btn-default" type="submit" ng-click="createUser()" value="Create Your Profile" /></center>
  </form>
</div>

